/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой done
✦ card__icon-button — для кнопки, оборачивающей иконку done
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки done

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wdth" var(--main-text-weight);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  padding: clamp(6.438rem, 0.25vw + 6.388rem, 6.688rem) 0;
  align-self: center;
}

.header-tittle-group {
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font);
  font-weight: var(--main-text-weight);
  color: var(--main-text-color);
  background-color: var(--background-color);
  border: var(--border);
  padding: clamp(3.125rem, 6.964vw + 1.732rem, 8rem);
  align-items: center;
  inline-size: 100%;
}

.header-title {
  font-size: clamp(1.125rem, 0.0907rem + 4.4131vw, 4.0625rem);
}

.header-subtitle {
  text-transform: uppercase;
  font-size: clamp(1.125rem, 1.015rem + 0.4695vw, 1.4375rem);
  padding-block-start: 20px;
}

.inline-size {
  inline-size: var(--inline-size-main-desktop);
}

@media (width <= 375px) {
  .header-tittle-group {
    padding: 120px 50px;
  }

  .header-title {
    font-size: clamp(0.875rem, -11.8523rem + 63.6364vw, 3.0625rem);
  }

  .header-subtitle {
    font-size: clamp(0.75rem, 0.0227rem + 3.6364vw, 0.875rem);
  }

  .inline-size {
    inline-size: var(--inline-size-main-mobile);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-block-end: 50px;
}

.cards-title {
  display: inline-block;
  font-size: 18px;
  font-weight: var(--title-text-weight);
  color: var(--main-text-color);
  background-color: var(--background-color);
  border: var(--border);
  padding: 5px 10px 6px 10px;
}

.text {
  display: inline-block;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: var(--main-text-weight);
  color: var(--main-text-color);
  background-color: var(--background-color);
}

.article-text {
  border: var(--border);
  padding-block-start: 25px;
  padding-inline-end: 25px;
  padding-block-end: 26px;
  padding-inline-start: 25px;
  background-color: var(--background-color);
}
.article-text-pading {
  padding-inline-end: 22px;
}
.yandex-text {
  padding-block-end: 27px;
}
.my-text {
  padding-block-end: 25px;
}
.img-container {
  inline-size: 100%;
  block-size: 696px;
  position: relative;
  z-index: 0;
}

@media (width <= 375px) {
  .article-text {
    padding-block-start: 26px;
    padding-inline-end: 29px;
    padding-block-end: 25px;
  }

  .article-text-padding {
    padding-block-start: 29px;
  }

  .my-text {
    padding-block-end: 44px;
  }

  .my-text-padding {
    padding-block-end: 24px;
  }
  .my-text-padding-fixed {
    padding-block-end: 4px;
  }
  .texts-padding {
    padding-block-start: 29px;
    padding-inline-end: 28px;
  }

  .img-container {
    block-size: 371px;
  }
}

.image {
  inline-size: 100%;
  block-size: 100%;
}

.img-mermaid {
  filter: brightness(120%);
}

.img-spiderman {
  filter: blur(0.2rem);
}
.img-piter {
  filter: grayscale(1) contrast(1) brightness(100%);
}
.img-homer {
  filter: invert(100%);
}
.img-homerfriends {
  filter: hue-rotate(-90deg);
}
.img-soidet {
  filter: sepia(80%);
}

.img-cat {
  filter: grayscale(1);
}
.img-rusalochka {
  filter: saturate(200%);
}

.watermark {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: var(--main-text-weight);
  font-family: var(--accent-font);
  color: var(--main-text-color);
  position: absolute;
  top: 25px;
  right: 25px;
  text-shadow: 1px 1px 0 var(--shadow-watermark-color),
    -1px 1px 0 var(--shadow-watermark-color),
    1px -1px 0 var(--shadow-watermark-color),
    -1px -1px 0 var(--shadow-watermark-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--shadow-watermark-color)) or
    (-webkit-text-stroke: 1px var(--shadow-watermark-color))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--shadow-watermark-color);
    text-stroke: 1px var(--shadow-watermark-color);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .watermark {
    right: 10px;
  }
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--main-text-weight);
  color: var(--background-color);
  position: relative;
  z-index: 1;
  transition: color 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.buttons-like-heart {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 4px;
}

.button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
  transition: background-color 0.3s ease;
  border: 2px solid var(--contour-color);
  background-color: var(--background-color);
}
.card__like-button {
  padding: 0 17px;
  min-width: 130px;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--contour-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-text-color);
  transition: box-shadow 0.3s ease;
}

.heart-button {
  background-color: var(--background-color);
  border: transparent;
}
.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-text-color);
  transition: box-shadow 0.3s ease;
}

.heart-button:focus {
  outline: none;
}

.heart-button:focus-visible {
  outline: none;
  border: 2px solid var(--main-text-color);
  transition: border 0.3s ease;
}

.footer {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  padding-block-end: 105px;
}

.save-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding-block-start: 15px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-end: 15px;
}

.flopy {
  inline-size: 21px;
  block-size: 21px;
  color: var(--background-color);
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    align-items: center;
  }

  .flopy {
    inline-size: 28px;
    block-size: 28px;
  }
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(1px);
}

.dialog-open {
  display: grid;
  grid-template-columns: 39px 234px;
  column-gap: 20px;
  row-gap: 30px;
  align-items: end;
  padding: 10px 9px 10px 10px;
}
.svg-flopy-open {
  inline-size: 39px;
  block-size: 39px;
}

.button-ok {
  padding: 12px 133px;
  justify-self: center;
  grid-column: span 2;
}

.button__text-dialog-open {
  text-transform: uppercase;
  line-height: 150%;
}
