/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой done
✦ card__icon-button — для кнопки, оборачивающей иконку done
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки done

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-text-weight);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  padding: clamp(6.25rem, 0.129vw + 6.22rem, 6.375rem) 0;
  align-self: center;
  justify-content: center;
}

.header-tittle-group {
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font), monospace;
  font-weight: var(--main-text-weight);
  color: var(--main-text-color);
  background-color: var(--background-color);
  border: var(--border);
  padding: clamp(7.5rem, 0.751vw + 7.324rem, 8rem)
    clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem);
  align-items: center;
  gap: 20px;
}

.header-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.inline-size {
  inline-size: 100%;
  max-inline-size: var(--inline-size-main);
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-block-end: 105px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-block-end: 50px;
}

.cards-title {
  display: inline-block;
  font-size: 18px;
  font-variation-settings: "wght" var(--title-text-weight);
  color: var(--main-text-color);
  background-color: var(--background-color);
  border: var(--border);
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  padding-block-start: 3px;
  padding-block-end: 3px;
}

.article-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-color: var(--background-color);
  border: var(--border);
  padding-block-start: 25px;
  padding-inline-end: 25px;
  padding-block-end: 23px;
  padding-inline-start: 25px;
  line-height: 21px;
  gap: 27px;
}

.img-container {
  display: block;
  border-inline-start: var(--border);
  border-inline-end: var(--border);
  inline-size: 100%;
  block-size: 696px;
  position: relative;
  z-index: 0;
}

@media (width <= 375px) {
  .cards-title {
    padding-inline-start: 9px;
    padding-inline-end: 8px;
    padding-block-start: 4px;
    padding-block-end: 4px;
  }

  .img-container {
    block-size: 371px;
  }
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  object-fit: cover;
}

.img-mermaid {
  filter: brightness(120%);
}

.img-spiderman {
  filter: blur(0.2rem);
}
.img-piter {
  filter: grayscale(1) contrast(1) brightness(100%);
}
.img-homer {
  filter: invert(100%);
}
.img-homerfriends {
  filter: hue-rotate(-90deg);
}
.img-soidet {
  filter: sepia(80%);
}

.img-cat {
  filter: grayscale(1);
}
.img-rusalochka {
  filter: saturate(200%);
}

.watermark {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: var(--main-text-weight);
  font-family: var(--accent-font), monospace;
  color: var(--main-text-color);
  position: absolute;
  top: 25px;
  right: 25px;
  text-shadow: 1px 1px 0 var(--shadow-watermark-color),
    -1px 1px 0 var(--shadow-watermark-color),
    1px -1px 0 var(--shadow-watermark-color),
    -1px -1px 0 var(--shadow-watermark-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--shadow-watermark-color)) or
    (-webkit-text-stroke: 1px var(--shadow-watermark-color))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--shadow-watermark-color);
    text-stroke: 1px var(--shadow-watermark-color);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .watermark {
    right: 10px;
  }
}

.button__text {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  font-weight: var(--main-text-weight);
  color: var(--background-color);
  position: relative;
  z-index: 1;
  transition: color 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.buttons-like-heart {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
  transition: background-color 0.3s ease-in-out;
  border: 2px solid var(--contour-color);
  background-color: var(--background-color);
}
.card__like-button {
  padding-block-start: 7px;
  padding-block-end: 6px;
  min-width: 130px;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--contour-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-text-color);
  transition: box-shadow 0.3s ease;
}

.heart-button {
  background-color: var(--background-color);
  border: none;
  max-height: 34px;
}

.heart-button:focus-visible {
  outline: 2px solid var(--main-text-color);
  transition: outline 0.3s ease;
}

.save-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding-block-start: 15px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-end: 15px;
}

.flopy {
  inline-size: 21px;
  block-size: 21px;
  color: var(--background-color);
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    align-items: center;
  }

  .flopy {
    inline-size: 28px;
    block-size: 28px;
  }
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(1px);
}

dialog {
  padding: 0;
}

.dialog-open {
  display: grid;
  grid-template-columns: 39px 234px;
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  padding: 30px;
}
.svg-flopy-open {
  inline-size: 39px;
  block-size: 39px;
}

.button-ok {
  padding: 7px 130.5px;
  justify-self: center;
  grid-column: span 2;
  text-transform: uppercase;
}

.button__text-dialog-open {
  text-transform: uppercase;
  line-height: 150%;
}

@media (width <= 375px) {
  .dialog-open {
    padding: 30px 38px;
    grid-template-columns: 39px 198px;
    justify-content: center;
  }

  .button-ok {
    padding: 7px 112.5px;
  }
}
